body{
    background-color: #F9ECCC;
    height:100vh;
    width: 100vw;
    margin:0;
}


h1{
    text-align:center;
    color:gold;
    flex-direction: row;
    font-size: 6vh;
    background-color: #441a03;
    width: 50vw;
    border-radius: 50%;
    margin: .5vh auto;
    padding:2vh;

}

.flex-grid{
    display:flex;
    justify-content: center;
    align-items: center;
}


 .flex-grid .col {
    flex: 1;
}

TABLE {
    border: 1px solid black;
    background-color:#393D3F ;
    filter: drop-shadow(5px 5px 5px black);
    top:1vw;
}

TD {
    width:5.5vw; 
    height: 5.5vw;
    border: .2vh solid black;
    text-align: center;
    background-color:#FFFFFC;
    margin:0;
}

td>img{
    height:93%;
    width:93%;
 }

aside{
    flex:1;
    margin:0 auto;
}


#turn-message{
    text-align: center;
    font-size: 5vh;
    width:max-content;
    margin: auto;
    background-color:gold ;
    color:#441a03;
}

.red{
    color:rgb(160, 0, 0);
}
.black{
    color:black;
}

#fire{
    display: flex;
    background-color: rgb(73, 73, 73);
    padding:2vw;
    align-items: center;
    margin:0 auto;
}

h2{
    border: .3vw solid black;
    padding:1vw;
    border-radius:10px;
    text-align: center;
}


#cozy-welcome{
    grid-column: 2;
    display:grid;
    grid-row:1;
    font-size: 3vh;
    background-color:slategray;
    margin:2vw
}




#reset-button{
    font-size: 3vh;
    color:black;
    border-radius: 2vh;
    border:.5vh solid black;
    background-color: #e3ff94;
    display:inline;
}
#reset-button:hover{
    background-color: gold;
}

#row0>TD:nth-child(2n){
    background:#441a03;
}

#row1>TD:nth-child(2n+1){
    background:#441a03;
}
#row2>TD:nth-child(2n){
    background:#441a03;
}
#row3>TD:nth-child(2n+1){
    background:#441a03;
}
#row4>TD:nth-child(2n){
    background:#441a03;
}
#row5>TD:nth-child(2n+1){
    background:#441a03;
}
#row6>TD:nth-child(2n){
    background:#441a03;
}
#row7>TD:nth-child(2n+1){
    background:#441a03;
}

#linked-in{
    position: absolute;
    height: 5vw;
    width: 5vw;
    
    right:1vw;
    top:10vh;
}

*{
    box-sizing: border-box;
}


.selected{
    background-color:rgb(255, 146, 146)!important;
}





  /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    /* background-color: rgba(0,0,0,0.4);  */

}
  
  /* Modal Content/Box */
.modal-content {
    background-color:gold;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 4vw;
    border: 3vh solid #0D3B66;
    font-size: 10vh;
    justify-content: center;
    text-align: center;
    border-radius:2vh;
    width: 50vw; /* Could be more or less, depending on screen size */
}


@media (max-width:900px ){
    .flex-grid{
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
    }
    #turn-message{
        font-size: 6vh;
        margin: 0 auto;
        background-color:gold ;
        color:#441a03;
        width: 100vw;
        top:88vh;
        border: 2vh solid black;
        border-radius: 0;
        position: absolute;

    }
    TABLE {
        border: 1px solid black;
        background-color:black;
        filter: none;
        display:block;
        top:15vh;
        width:100vw;
        height: 100vw;
        position: relative;
        margin: 0 auto;
    }
    TD {
        width:12.5vw; 
        height: 12.5vw;
        text-align: center;
        background-color:#FFFFFC;
    }
    #reset-button{
        margin:5px auto;
        font-size: 2vh;
        color:black;
        border-radius: 2vh;
        padding: 1vw;
        background-color: #e3ff94;
        position:absolute;
        top:7vh;
        
    }
    h1{
        text-align:center;
        padding:0px;
        position: absolute;
        top:-1vh;
        width: 100vw;
        text-align:center;
        font-size: 8vw;
        border-radius: 0px;
        width: 100vw;
        padding:0px;
        display: block;
    }
    #cozy-welcome{
        display:none;
    }
    #fire{
        display: none;
    }
}

@media (max-width:391px ){
    h1{
        text-align:center;
        font-size: 8vw;
        width: 100vw;
        padding:0px;
        display: block;
    }
    #reset-button{
        margin:5px auto;
        font-size: 2vh;
        color:black;
        border-radius: 2vh;
        padding: 1vw;
        background-color: #e3ff94;
        display: inline-block;
    }
    #linked-in{
        position: absolute;
        height: 5vh;
        width: 5vh;
        right:1vh;
        top:7.5vh;
    }    
    TD {
        width:12.5vw; 
        height: 12.5vw;
        border: 0px;
        background-color:#FFFFFC;
        margin:0;
    }
    #container{
        display:block;
        height:90vh;
        width: 100vw;
        margin:0;
    }
    TABLE {
        border: 0px solid black;
        background-color:#000000 ;
        display:block;
        position: relative;
        margin: 0 auto;
        width:100vw;
        height: 107vw;
        z-index: 2;
    }
    #cozy-welcome{
        display:none;
    }
    #fire{
        display:block;
        position: absolute;
        margin:0 auto; ;
        bottom:0vh;
        width:100vw;
        z-index: 1;
    }
    #turn-message{
        text-align: center;
        justify-content: center;
        font-size: 12vw;
        color:#441a03;
        width: 100vw;
        bottom:0px;
        border: 2vh solid black;
        border-radius: 0;
        position: absolute;
        z-index: 2;
    }
}
