TABLE {
    border: 1px solid black;
    background-color:#441a03;
    filter: drop-shadow(5px 5px 6px black);
}

TD {
    width: 50px; 
    height: 50px !important; 
    border: 2px solid black;
    text-align: center;
    color:aqua;
    background-color:#e0c892;
    /*  */
    /* background-color:rgba(179, 179, 179, 0.432); */
}



#row0>TD:nth-child(2n){
    background:#441a03;
}

#row1>TD:nth-child(2n+1){
    background:#441a03;
}
#row2>TD:nth-child(2n){
    background:#441a03;
}
#row3>TD:nth-child(2n+1){
    background:#441a03;
}
#row4>TD:nth-child(2n){
    background:#441a03;
}
#row5>TD:nth-child(2n+1){
    background:#441a03;
}
#row6>TD:nth-child(2n){
    background:#4d1c1c;
}
#row7>TD:nth-child(2n+1){
    background:#4d2611;
}



.red{
    /* color:rgb(190, 0, 0); */
    padding:2px;
    /* font-size: 125px; */
    /* line-height: 50px; */
    text-shadow: rgb(0, 0, 0);
    /* filter: drop-shadow(500px,30px,20px,black); */
    /* filter: drop-shadow(8px 8px 0px black); */
}

.black{
    /* color:black; */
    /* font-size: 10px */
    padding:2px;
    /* line-height: 5px; */
    /* padding:0%; */
    /* margin:0; */
}

* {
  box-sizing: border-box;
}

img{
  height:100%;
  width:100%;
}

.selected{
    background-color:rgb(255, 146, 146)!important;
  }